@media (max-width: 1080px) {
	.blinks_social {
		display: flex;
		position: relative;
		margin: 10px auto 10px;
		left: 0;
	}
	.blinks_app {
		display: box;
		position: relative;
		right: 0;
		margin: 0 auto;
	}
}

@media (max-width: 1199px) {
    .call_i span {
        font-size: 18px;
    }

    .choise {
        height: 716px;
    }
}

@media (max-width: 1040px) {
    .menu_link {
        font-size: 13px;
    }

    .promo {
        
        & h1 {
            font-size: 55px;
        }
    }
}


@media (max-width: 1199px) {
    .ico_blocks {
        display: flex;
        flex-direction: column;
        &_i {
            width: 113px;
            height: 113px;
        }

        &_t {
            margin-top: 10px;
            text-align: center;
        }
    }
}

@media (max-width: 991px) {
    .menu_item {
        padding-right: 16px;
        border-right: 1.5px dotted #0e0e0e;
    }

    .menu_link {
        font-size: 11px;
    }
}

@media (max-width: 815px) {
    .menu_item {
        padding-right: 11px;
    }

    .menu_link {
        font-size: 10px;
    }
}

@media (max-width: 770px) {
    .menu_item {
        padding-right: 14px;
    }

    .menu_link {
        font-size: 10px;
    }
}

@media (max-width: 767px) {

    .burger_menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        &_bttn {
            &_lines {
                height: 2px;
                width: 25px;
                background-color: $white;
            }
        }
    }

    header nav {
        padding: 17px 0 0 0;
    }

    #nav_wrapper {
        height: 30px;
    }

    .menu {
        display: none;
    }

    .logo_t {
        display: none;
    }

    .call_o_b {
        width: 110px;
        height: 22px;
        font-size: 9px;
        margin-top: 10px;
        &_s {
            margin-top: 0px;
        }
    }

    #send_request {
        margin: 0 auto;  
    }

    .call_i {
        display: none;
    }

    .logo_i {
        img {
            width: 130px;
            height: 21px;
        }
    }

    .logo_contacts {
        min-height: 60px;
    }

    .promo h1 {
        font-size: 30px;
    }

    .promo h2 {
        font-size: 20px;
        margin-top: 0;
    }

    .promo_text {
        display: none;
    }

    .promo {
        min-height: 430px;
        margin-bottom: 0 auto;
    }

    .ico_blocks_t {
        width: 290px;
    }
}