@mixin h2white {
	text-align: center;
	color: $white;
	font-size: 36px;
	font-weight: 400;
	text-transform: uppercase;
}

@mixin h2black {
	font-family: Roboto;
	font-size: 38px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.26;
	letter-spacing: normal;
	text-align: center;
	color: $blackl;
	text-transform: uppercase;
}

@mixin h3black {
	font-family: Roboto;
	font-size: 17px;
	font-weight: 400;
	text-align: center;
	color: $blackl;
}

@mixin h3white {
	@include h3black;	
	color: $white;
}

@mixin animote {
	-webkit-transition: all 0.5s 0s ease-out;
	-moz-transition: all 0.5s 0s ease-out;
	-o-transition: all 0.5s 0s ease-out;
	transition: all 0.5s 0s ease-out;
}

@mixin animote-svg {
	-webkit-transition: fill 300ms linear;
	-ms-transition: fill 300ms linear;
	transition: fill 300ms linear;
}

@mixin bttn-hover {
	@include animote;
	box-shadow: 0 0 15px rgb(18, 18, 24), 0 0 10px rgb(18, 18, 24);
	background-color:$azure;
}